In [ ]:
import time
import pandas as pd

In [ ]:
df = pd.read_csv('Data8277.csv', low_memory=False)
df.head()

In [ ]:
start = time.time()

df = pd.read_csv('data.csv', low_memory=False)
df1 = df.sort_values(by='int')

end = time.time()
print("執行時間：%f 秒" % (end - start))

In [ ]:
import time
from pyspark.sql import SparkSession

In [ ]:
start = time.time()

spark = SparkSession \
     .builder \
     .appName("Python Spark SQL basic example") \
     .getOrCreate() \

df1 = spark.read.csv('data.csv', header=True, inferSchema=True)
df1.sort("int")

end = time.time()
print("執行時間：%f 秒" % (end - start))

In [ ]:
start = time.time()

df = pd.read_csv('Data8277.csv', low_memory=False)
df1 = df.sort_values(by='count')

end = time.time()
print("執行時間：%f 秒" % (end - start))

In [ ]:
start = time.time()

spark = SparkSession \
     .builder \
     .appName("Python Spark SQL basic example") \
     .getOrCreate() \

df1 = spark.read.csv('Data8277.csv', header=True, inferSchema=True)
df1.sort("count")

end = time.time()
print("執行時間：%f 秒" % (end - start))

In [ ]:
from pyspark import SparkContext

In [ ]:
SparkContext.setSystemProperty('spark.executor.memory', '10g')
sc = SparkContext("local", "App Name")

In [ ]:
SparkContext.stop(sc)

In [ ]:
sc._conf.getAll()

In [1]:
import pandas

In [8]:
df = [1,3,5,3]
print(df)
df1 = [[1,2],[4,7]]
print(df1)

[1, 3, 5, 3]
[[1, 2], [4, 7]]